@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

ol,ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

/* **************************************************
        ======== Main css part start  ========
********************************************************/

/* *****************************************************
       ======== Navbar part css start  ========
********************************************************/

.main-menu{
    background:rgba(53, 53, 53, 0.25);
    height: 50px;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index:99;

}

.main-menu .navbar-brand{
    width: 245px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background: #323232;
    transform: skewX(-35deg);
    -webkit-transform: skewX(-35deg);
    -moz-transform: skewX(-35deg);
    -ms-transform: skewX(-35deg);
    -o-transform: skewX(-35deg);
    position: relative;
}

.main-menu .navbar-brand::before{
    position:absolute;
    content: '';
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #020202;
}


.main-menu .navbar-brand::after{
    position:absolute;
    content: '';
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: #020202;
}

.main-menu .navbar-brand img{
    transform: skewX(35deg);
    -webkit-transform: skewX(35deg);
    -moz-transform: skewX(35deg);
    -ms-transform: skewX(35deg);
    -o-transform: skewX(35deg);
}

.main-menu ul li a{
    line-height: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding: 0px 12px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    position: relative;
}

.main-menu ul li a::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background:#e23e38;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.main-menu ul li a:hover{
    background:#fff;
    color: #222222;
}

.main-menu ul li a:hover::after{
    width: 100%;
}

/* *****************************************************
       ======== Banner part css start  ========
********************************************************/

.banner-item{
    padding-top: 254px;
    padding-bottom: 117px;
    position: relative;
}

.banner-item::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.banner-text{
    position: relative;
    z-index:99;
    color: #fff;
}

.banner-text h2{
    font-family: 'Oswald', sans-serif;
    font-size:30px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.banner-text h2::before{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: -3px;
    width: 164px;
    height: 3px;
    background: #e23e38;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
}

.banner-text h2::after{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right:-24px;
    width: 109px;
    height: 3px;
    background: #e23e38;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 6% 100%);
}

.banner-text h1{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e23e38;
    position: relative;
}

.banner-text h1::before{
    position: absolute;
    content: '';
    top: -19px;
    left: -6px;
    width:3px;
    height: 196px;
    background: #e23e38;
}

.banner-text h1::after{
    position: absolute;
    content: '';
    right: -27px;
    top: -19px;
    width:3px;
    height: 196px;
    background: #e23e38;
}

.banner-text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #dddddd;
    padding-bottom: 18px;
    position: relative;
    
}

.banner-text p::before{
    position:absolute;
    content: '';
    bottom:-50px;
    left: -6px;
    width: 88px;
    height: 3px;
    background:#e23e38;

}

.banner-text p::after{
    position:absolute;
    content: '';
    bottom:-50px;
    right: -27px;
    width: 54px;
    height: 3px;
    background:#e23e38;

}

.banner-text a{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #f1f1f1;
    margin-left: 30px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.banner-text a:hover{
    background: #e23e38;
    color: #fff;
    border: 1px solid #e23e38;
}

#banner .slick-dots{
    position:absolute;
    left: 50%;
    bottom:30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#banner .slick-dots li{
    display: inline-block;
    margin: 0px 5px;
}

#banner .slick-dots li button{
    font-size: 0;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: transparent;
}

#banner .slick-dots li.slick-active button{
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #e23e38;
    border: 1px solid #e23e38;
}

/* *****************************************************
       ======== About part css start  ========
********************************************************/

#about{
    padding: 80px 0;
}

#about .about-img{
    position: relative;
}

#about .abimg-overly{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}


#about .abimg-overly-icons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#about .abimg-overly-icons i{
    color: #000;
    width: 48px;
    height: 48px;
    background: #e23e38;
    text-align: center;
    font-size: 20px;
    line-height: 48px;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}

#about .common-head h2{
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: #222222;
    text-transform: uppercase;
}

#about .about-text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    padding-left: 20px;
}

#about .about-text span{
    display: block;
    padding-top: 30px;
}

/* *****************************************************
       ======== About part css end  ========
********************************************************/

/* *****************************************************
       ======== Gallary part css start  ========
********************************************************/
#gallery .gal-bg{
    margin-top: 30px;
    padding: 30px 0;
    position: relative;
}

#gallery .gal-bg::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

#gallery .gal-img{
    position: relative;
    z-index: 99;
}

#gallery .gal-img:first-child{
    margin-bottom: 24px;
}

#gallery .gal-img:hover .gal-overly{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

#gallery .gal-overly{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(226, 62, 56, 0.5);
    border: 5px solid #bebab1;
    transition: 0.6s;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#gallery .gal-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#gallery .gal-icon i{
    color: #fff;
    font-size: 24px;
}


/* *****************************************************
       ======== Team part css start  ========
********************************************************/

#team{
    padding-top: 80px;
    padding-bottom: 80px;
}

#team .team-img{
    position: relative;
}

#team .team-overly{
    position:absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom:10px;
    background: rgba(226, 62, 56, 0.5);
    border: 5px solid #dddddd;
    opacity: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#team .team-icons{
    text-align: right;
    position:relative;
    right: 10px;
    top: 50%;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
}

#team .team-icons i{
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    color: #fff;
    text-align: center;
    line-height: 30px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    margin-bottom: 10px;
    cursor: pointer;
}

#team .team-icons i:hover{
    background: #fff;
    color: #1da0f2;
}

#team .team-text{
    border: 1px solid transparent;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#team .team-text h3{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #222222;
    padding-top: 20px;

}

#team .team-text h4{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #222222;
    padding-top: 10px;
}

#team .team-text p{
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    color: #444444;
    padding: 15px;
    transform: scale(0);
    transition: 0.4s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#team .team-main:hover .team-overly{
    opacity: 1;
}

#team .team-main:hover .team-text{
    border-color: #dddddd;
}

#team .team-main:hover .team-text p{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

#team .team-head{
    margin-top: 70px;

}

#team .team-main{
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#team .team-main:hover{
    transform: translatey(-42px);
    -webkit-transform: translatey(-42px);
    -moz-transform: translatey(-42px);
    -ms-transform: translatey(-42px);
    -o-transform: translatey(-42px);
}



/* *****************************************************
       ======== Testimonial part start ========
********************************************************/

#testimonial{
    padding: 30px 0px;
}


#testimonial .test-gap{
    padding-bottom: 30px;
}
#testimonial .test-bg{
    padding-top: 30px;
    padding-bottom: 80px;
    position: relative;
    z-index:1;
}


#testimonial .test-bg::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index:-1;
}

#testimonial .test-title h3{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

#testimonial .test-title h4{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

#testimonial .test-icons i{
    color: #e23e38;
}



#testimonial .test-text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #dddddd;
    line-height: 18px;
    padding-top:10px ;

}

.test-slider .slick-slide{
    padding: 0px 12px;
}

#testimonial .slick-dots{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: auto;
    bottom: -45px;
}

#testimonial .slick-dots li{
    display:inline-block;
    margin: 0 5px;
}


#testimonial .slick-dots li button{
    width: 20px;
    height: 20px;
    font-size: 0;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


#testimonial .slick-dots li.slick-active button{
    background: #e23e38;
    border: 1px solid #e23e38;
}


/* *****************************************************
       ======== Membership part start ========
********************************************************/

#membership{
    padding-top: 30px;
    padding-bottom: 80px;
}

#membership .member-card h3{
    background: #dddddd;
    color: #222222;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    padding: 20px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#membership .member-card h2{
    background: url(../images/member-1.jpg) center no-repeat;
    background-size: cover;
    padding: 36px 0;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size:48px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

#membership .member-card h2 span{
    font-size: 24px;
}

#membership .member-card h2::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

#membership .member-card ul{
    background: #f1f1f1;
}



#membership .member-card ul li{
    padding-top: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #444444;
    line-height: 24px;
}

#membership .member-card ul li:first-child{
    padding-top: 40px;
}

#membership .member-card ul li:last-child{
    padding-bottom: 40px;
}

#membership .member-card a{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    background: #dddddd;
    display: block;
    padding: 10px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#membership .member-card:hover h3{
    background: #e23e38;
    color: #fff;
}

#membership .member-card:hover a{
    background: #e23e38;
    color: #fff;
}


/* *****************************************************
       ======== Counter part start ========
********************************************************/

#counter{
    padding-top: 45px;
    padding-bottom: 45px;
    position: relative;
    margin-bottom: 80px;
    z-index:1;
}

#counter::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index:-1;
}

#counter .counter-item{
    color: #fff;
}

#counter .counter-item h4{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;

}

#counter .counter-item p{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 30px;
    padding-top: 10px;
}


/* *****************************************************
       ======== Classes part start ========
********************************************************/




#classes{
    padding-bottom: 50px;
}
.class-head{
    padding-bottom: 30px;
}



#classes .class-tab{
    background: #f1f1f1;
    height: 50px;
}

#classes .class-tab li{
    width: 16.66666%;
}

#classes .class-tab li button{
    width: 100%;
    line-height: 50px;
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    color: #222222;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    
}

#classes .class-tab .nav-link.active, .class-tab .show > .nav-link {
	color: #fff;
	background-color:#e23e38;
}



#classes  .tab-body ul{
    display: flex;
    flex-wrap: wrap;
}


#classes  .tab-body ul li{
    margin-right: 5px;
    width: 19.6%;
    background: #f1f1f1;
    text-align: center;
    padding: 50px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#classes  .tab-body ul li p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #222222;
}

#classes  .tab-body ul li:hover{
    background: #e23e38;
   
}

#classes  .tab-body ul li:hover p{
    color: #fff;

}

#classes  .tab-body ul li:first-child,
#classes  .tab-body ul li:nth-child(2),
#classes  .tab-body ul li:nth-child(3),
#classes  .tab-body ul li:nth-child(4),
#classes  .tab-body ul li:nth-child(5){
    margin-bottom: 5px;

}

#classes  .tab-body ul li:nth-child(5),
#classes  .tab-body ul li:nth-child(10){
    margin-right: 0;
}


/* *****************************************************
       ======== Sponsor part start ========
********************************************************/

#sponsor{
    padding-bottom: 80px;
}

#sponsor .sponder_slider .slick-slide{
    padding: 0 12px;
}

.prev {
	position: absolute;
	top: 50%;
	right: 40px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	font-size: 30px;
}

.next{
    position:absolute;
    top:50%;
    left: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 30px;

}

/* *****************************************************
       ======== Footer part start ========
********************************************************/

#footer{
    background: url(../images/footer-bg.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    z-index: 1;
}

#footer::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0,0.85);
    z-index:-1;
}

.footer-main{
    border-bottom: 1px solid #fff;
}
#footer .footer-img{
    padding-bottom: 30px;
    
}

#footer .footer-head h3{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top:30px;
    margin-bottom:30px;

}

#footer .mid-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #dddddd;
}

.mid-icons{
    width: 20px;
    height: 20px;
    color: #1da1f2;
}

.mid-text2{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #dddddd;
    line-height: 18px;
}

.mid-text2 span{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding-top: 20px;
}

.footer-img ul{
    display: flex;
    flex-wrap: wrap;
}

.footer-img ul li{
    width: 22%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.footer-img ul li:nth-child(4),
.footer-img ul li:nth-child(8),
.footer-img ul li:nth-child(12){
    margin-right: 0px;
}

.footer-img ul li:nth-child(9),
.footer-img ul li:nth-child(10),
.footer-img ul li:nth-child(11),
.footer-img ul li:nth-child(12){
    margin-bottom:0px;
}

.contact-address p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #bebab1;

}

.contact-address p:last-child{
    padding-bottom: 0;
}


.contact-address p i{
    color: #e23e38;
    margin-right: 10px;
}

.social h3{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 2px;
}

.social ul li{
    display: inline-block;
    padding-top: 10px;
    color: #fff;
    padding-left: 10px;
    padding-top: 20px;
}

.social ul li i{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 30px;
    
}

.social ul li i:hover{
    background: #e23e38;
    border: 1px solid #e23e38;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.copyright-footer p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #fff;
    border-top:1px solid #fff ;
    padding-top: 20px;

}

.copyright-footer p span{
    color: #e23e38;
}

